<div class="well add-vitals">
  <h2>Add More Vitals</h2>
  <form action="" method="post">
    <label for="date">Date</label>
      <input type="text" name="date" placeholder="mm/dd/yyyy" />
    <label for="weight">Weight</label>
    <input type="text" name="weight" placeholder="Today's Weight" />
    <label for="fat">Fat Percentage</label>
    <input type="text" name="fat" placeholder="Today's Fat" />
    <label for="rhr">Resting Heart Rate</label>
    <input type="text" name="rhr" placeholder="RHR" />

    <button type="submit" class="btn">Submit</button>
  </form>
</div>