<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <h1>{{title}}</h1>
      <h2>Recent Vitals</h2>
      <p>Last week and this week</p>
      <table class="table table-striped table-condensed recent-history">
        <caption></caption>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Weight</th>
            <th>Fat %</th>
            <th>RHR</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="vital in vitals">
            <td><a href="#/vital/{{vital.id}}">Edit</a></td>
            <td>{{vital.date}}</td>
            <td>{{vital.weight}}</td>
            <td>{{vital.fat}}%</td>
            <td>{{vital.rhr}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <div class="well">
        <h2>Add More Vitals</h2>
        <form action="" method="post">
          <label for="date">Date</label>
            <input type="text" name="date" placeholder="mm/dd/yyyy" />
          <label for="weight">Weight</label>
          <input type="text" name="weight" placeholder="Today's Weight" />
          <label for="fat">Fat Percentage</label>
          <input type="text" name="fat" placeholder="Today's Fat" />
          <label for="rhr">Resting Heart Rate</label>
          <input type="text" name="rhr" placeholder="RHR" />

          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <hr />
  <footer>
    <p class="muted">kategreen.us</p>
  </footer>
</div>